:root {
  --light: #fff;
  --dark: #2b2a33;
}

* {
  font-family: "Sora", sans-serif;
  color: var(--light);
  padding: 0;
  margin: 0;
}

body,
html {
  background: var(--dark);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 10px;
}

.container {
  /* border: 1px solid var(--light); */
  /* border: 1px solid var(--light); */
  padding: 1rem;
}

.container .box {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.container .box .content {
  background: linear-gradient(to left bottom, #4f5c6f, #202124);
  border: 1px solid var(--light);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin-inline: 0.5rem;
  margin-block: 0.5rem;
}

.container .box .icon {
  stroke: var(--light);
  margin-bottom: 0.5rem;
}

.container .box .icon:hover {
  stroke: lightblue;
}

.separate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  gap: 0.2rem;
}

th,
td {
  padding: 1rem;
  transition: 0.2s;
}

th:hover,
td:hover {
  background-color: #161b22;
  border: 1px solid white;
}
