* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  width: 60%;
  grid-template-areas:
    "header header header"
    "sidebar sidebar sidebar"
    "content content content"
    "footer footer footer";
}

.container .item {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: coral;
  grid-area: header;
}

.sidebar {
  background-color: darkcyan;
  grid-area: sidebar;
}

.content {
  background-color: darkgray;
  grid-area: content;
}

.footer {
  background-color: darkviolet;
  grid-area: footer;
}

@media screen and (min-width: 700px) {
  .container {
    grid-template-areas:
      "header header header"
      "sidebar content content"
      "footer footer footer";
  }
}
